apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-code-heist-deployment
  labels:
    app: ai-code-heist
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ai-code-heist
  template:
    metadata:
      labels:
        app: ai-code-heist
    spec:
      containers:
        - name: ai-code-heist-container
          image: {{AWS_ACCOUNT_ID}}.dkr.ecr.eu-west-2.amazonaws.com/ai-code-heist-api:latest
          ports:
            - containerPort: 8000
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: ai-code-heist-secrets
                  key: OPENAI_API_KEY
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: ai-code-heist-secrets
                  key: REDIS_URL
            - name: ADMIN_KEY
              valueFrom:
                secretKeyRef:
                  name: ai-code-heist-secrets
                  key: ADMIN_KEY
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: ai-code-heist-secrets
                  key: SECRET_KEY
          volumeMounts:
            - name: firebase-config-volume
              mountPath: /app/firebase-sdk.json
              subPath: firebase-sdk.json
      volumes:
        - name: firebase-config-volume
          configMap:
            name: firebase-config
